<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tcc_drc">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dev_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.TCC_DRC">
        <activity
            android:name=".ui.activities.infonutriCereais.Aveia"
            android:exported="true" />
        <activity
            android:name=".ui.activities.infonutriCereais.Cereal"
            android:exported="true" />
        <activity
            android:name=".ui.activities.infonutriCereais.Biscoitoagua"
            android:exported="true" />
        <activity
            android:name=".ui.activities.infonutriCereais.Biscoitorecheado"
            android:exported="true" />
        <activity
            android:name=".ui.activities.infonutriBebidas.Cerveja"
            android:exported="true" />
        <activity
            android:name=".ui.activities.infonutriBebidas.SucoIndust"
            android:exported="true" />
        <activity
            android:name=".ui.activities.infonutriBebidas.AguaCoco"
            android:exported="true" />
        <activity
            android:name=".ui.activities.infonutriBebidas.AguaGas"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Sobre"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Temperos"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Oleos"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Leite"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Legumes"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Industrializados"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Enlatados"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Embutidos"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Doces"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Bebidas"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Cereais"
            android:exported="true" /> <!-- Splash screen -->
        <activity
            android:name=".ui.activities.SplashDevMedia"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity Principal -->
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>